# Folders
__pycache__/
build/
*.egg-info
.vscode/
.idea/
/image_sequence/
/output/
/test/
/reid_dataset/
/logs/
/datasets/
/trash/
/fastreid/weights/


# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.txt
*.c
