# Folders
__pycache__/
build/
*.egg-info
.vscode/
.idea/
/image_sequence/
/output/
/test/
/reid_dataset/
/reid_dataset_backup/
/logs/
/datasets/
/trash/
/fastreid/weights/
/detections/
/tracking_results/
/gt_results/
/concat/

# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.txt
*.c
